.menu {
  position : relative;
}
.custom-brand {
  vertical-align: middle;
  color : black;
}
.content {
  margin-top: 0.5em;
  margin-left : 12em;
  margin-right : 2em;
  padding-left: 1em;
  padding-right: 1em;
  /*max-width: 1000px;*/
  -webkit-transition: margin-top 0.3s;
  -moz-transition: margin-top 0.3s;
  -ms-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
}
.content.open {
  margin-top: 10em;
}
.logo {
  height : 3em;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right : 0;
}
.my-gallery {
  text-align: center;
}
#main {
  display: flex;
  flex: 1;
}
#about {
  margin-top : 3em;
  margin-bottom: 25em;
}
#contact {
  margin-bottom: 26em;
}
#contact > div {
  text-align: center;
}
figure {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: auto;
}
figure > a {
  width: 100%;
  height: auto;
}
figure > a > img {
  width: 100%;
  height: auto;
}
.section-heading {
  font-size : 3em;
}
.background-image {
  position: absolute;
  z-index: -2;
}
.left {
  left: 16px;
}
.middle {
  left : 6%;
}
.title {
  display: inline-block;
  padding-bottom: 18px;
  vertical-align: middle;
  padding-top: 18px;
}
.artist-pic {
  float: right;
  margin: 10px;
  margin-top: 0;
  border-radius: 4px;
}
body {
  scroll-behavior : smooth;
}
